@*<!-- Navigation menu -->
    <div class="navi">
        <div id="ddtopmenubar" class="mattblackmenu">
            <ul>
                <li>
                    <a href="#" rel="esportes">Esportes</a>
                    <ul id="esportes" class="ddsubmenustyle"></ul>
                </li>
                <li>
                    <a href="#" rel="ddsubmenu1">Homens</a>
                    <ul id="ddsubmenu1" class="ddsubmenustyle">
                        <li>
                            <a href='#' rel="ddsubmenuInner1">Calçados</a>
                            <ul id="ddsubmenuInner1" class="ddsubmenustyle">
                                <li><a href='#'>Chuteira</a></li>
                                <li><a href='#'>Chinelo</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='#'>Roupas</a>
                            <ul>
                                <li><a href='#'>Camisa de Times</a></li>
                                <li><a href='#'>Bermuda</a></li>
                            </ul>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="#" rel="ddsubmenu1">Mulheres</a>
                    <ul id="ddsubmenu1" class="ddsubmenustyle">
                        <li>
                            <a href='#' rel="ddsubmenuInner1">Calçados</a>
                            <ul id="ddsubmenuInner1" class="ddsubmenustyle">
                                <li><a href='#'>Linha Casual</a></li>
                                <li><a href='#'>Linha Training</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='#'>Roupas</a>
                            <ul>
                                <li><a href='#'>Camisetas</a></li>
                                <li><a href='#'>Calças</a></li>
                                <li><a href='#'>Bermuda</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='#'>Acessórios</a>
                            <ul>
                                <li><a href='#'>Bolças</a></li>
                                <li><a href='#'>Bonés</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" rel="ddsubmenu1">Calçados</a>
                    <ul id="ddsubmenu1" class="ddsubmenustyle">
                        <li>
                            <a href='#'>Marcas</a>
                            @*<ul id="marcas"></ul>* @
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- Dropdown NavBar -->
    <div class="navis"></div>*@


<ul class="nav">
    <li>
        <a href="#">Esportes <i class="fa fa-angle-down"></i></a>
        <div id="esportes" class="dropdown-menu">

        </div>

    </li>
    <li>
        <a href="/nav/genero/0002/homens/">Homens <i class="fa fa-angle-down"></i></a>
        <div id="homens" class="dropdown-menu">



            <div class="nav-column col-md-4">
                <a href='/nav/genero/0002/homens/0003/calcados'><h3>Calçados </h3></a>
                <ul>
                    <li><a href='/nav/genero/0002/homens/0003/calcados/0082/chuteira-campo'>Chuteira de Campo</a></li>
                    <li><a href='/nav/genero/0002/homens/0003/calcados/0136/chuteira-society'>Chuteira Society</a></li>
                    <li><a href='/nav/genero/0002/homens/0003/calcados/0084/tenis'>Tênis</a></li>
                </ul>
            </div>

            <div class="nav-column col-md-4">

                <a href='/nav/genero/0002/homens/0001/roupas'><h3>ROUPAS</h3></a>
                <ul>
                    <li><a href='#'>CAMISA DE TIMES</a></li>
                    <li><a href='#'>BERMUDAS</a></li>
                </ul>
            </div>
        </div>

    </li>
    <li>
        <a href="/nav/genero/0001/mulheres/">Mulheres <i class="fa fa-angle-down"></i></a>
        <div id="mulheres" class="dropdown-menu">



            <div class="nav-column col-md-4">
                <a href='/nav/genero/0001/mulheres/0003/calcados'><h3>Calçados </h3></a>
                <ul>
                    <li><a href='/nav/genero/0001/mulheres/0003/calcados/0082/botas-de-trilha'>Botas de Trilha</a></li>
                    <li><a href='/nav/genero/0001/mulheres/0003/calcados/0136/tenis-de-academia'>Tênis de Academia</a></li>
                    <li><a href='/nav/genero/0001/mulheres/0003/calcados/0084/tenis-para-corrida'>Tênis para Corrida</a></li>
                    <li><a href='/nav/genero/0001/mulheres/0003/calcados/0084/chinelos-e-Sandalias'>Chinelos e Sandálias</a></li>
                    
                    
                </ul>
            </div>

            <div class="nav-column col-md-4">

                <a href='/nav/genero/0001/mulheres/0001/roupas'><h3>ROUPAS</h3></a>
                <ul>
                    <li><a href='#'>Agasalhos</a></li>
                    <li><a href='#'>Bermudas</a></li>
                </ul>
            </div>
        </div>

    </li>
    <li>
        <a href="#">Calçados <i class="fa fa-angle-down"></i></a>
        <div id="marcas-calcados" class="marcas dropdown-menu">

        </div>
    </li>
    <li>
        <a href="#">Roupas <i class="fa fa-angle-down"></i></a>
        <div id="marcas-roupas" class="marcas dropdown-menu">

        </div>
    </li>
    <li>
        <a href="#">Times <i class="fa fa-angle-down"></i></a>
        <div id="times" class="dropdown-menu">

        </div>
    </li>

    @*<li class="nav-search">
            <form action="#">
                <input type="text" placeholder="Pesquisar...">
                <button type="submit"><span class="icon-search"></span></button>
            </form>
        </li>*@
</ul>
